body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.App-container {
  display: flex;
}

.content-container {
  margin-left: 270px; /* 사이드바 너비(250px) + 여백(20px) */
  padding: 20px;
  flex-grow: 1;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}