/* General Styles */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 0.3s, color 0.3s;
}

.App-container {
  display: grid;
  grid-template-columns: 250px 1fr; 
  height: 100vh;
  transition: grid-template-columns 0.3s ease-in-out;
  overflow: hidden;
}

.App-container.sidebar-collapsed {
  grid-template-columns: 60px 1fr;
}

.content-container {
  padding: 20px 0 20px 20px; /* top, right, bottom, left */
  overflow-y: auto;
}

/* --- Dark Theme --- */
.theme-dark {
  background-color: #121212;
  color: #e0e0e0;
}

.weapon-name {
  color: #000000;
}